*{
	box-sizing: border-box;
}
body{
	background-image: url("./background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.linking{
	margin-top:0;
	margin-left:0;
	overflow:hidden;
	margin-bottom:20px;
	position:fixed;
	background-color: white;
	width: 100%;
	top: 0;
	transition:0.3s;
	word-spacing: 3px;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,.2) ;
}
.linking a:link{
	float: left;
  display: block;
  color: #023815;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  transition: 0.5s;
}
.linking a:visited {
	font-size:20px;
	text-decoration: none;
	color: #023815;
}
.linking a:hover{
	font-size:23px;
	font-weight: bold;
	box-shadow: 0 6px 10px 4px rgba(0,0,0,.2);
}

#C1,#C4,#C5,#C6{
	margin: 80px auto 50px ;
	background-color: white;
	width: 900px;
	padding: 5px 10px 20px 10px;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,.2) ;
	transition:0.3s;
	border-radius: 5px;
}
#C2{
	margin: 80px auto 50px ;
	background-color: white;
	width: 900px;
	max-height: 300px;
	overflow:scroll;	
	padding: 5px 10px 20px 10px;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,.2) ;
	transition:0.3s;
	border-radius: 5px;
}
#C1 h2,#C2 h2,#C3 h2,#C4 h2,#C5 h2,#C6{
	text-align: center;
	
}
#C1:hover, #C2:hover,#C3:hover,#C4:hover,#C5:hover,#C6:hover{
	box-shadow: 0 5px 10px 2px #bab2f6;
}
#C1 a:link{
	padding: 5px;
	font-size:20px;
	text-decoration: none;
	color: #4a4666;
	transition: .4s;
}
#C1 a:hover{
	font-size:21px;
    font-weight: bold;

}
#C1 a:visited{
	text-decoration: none;
	color: #4a4666;
}
#C2 h1{
	
	background-color: white;
	color: #4a4666;
	font-family: Georgia;
	text-align: center;
}
#C2 p{
	font-size:17px;
	color: grey;
	font-family:Arial;
	text-align: justify;
	padding: 10px 20px;
}
#C3 img{
	width:850px;
	padding:20px 0px 5px 30px;
 }
#C3 h3{
	margin-right: 200px;
	margin-left: 200px;
	font-color:Blue;
	font-family:monospace; 
	text-align: center;
	border-bottom: 2px solid white;
}
#C3{
	margin: 80px auto 50px ;
	width: 900px;
	padding: 5px 10px 20px 10px;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,.2) ;
	transition:0.3s;
	border-radius: 5px;
	background: white; /* For browsers that do not support gradients */
    background: linear-gradient(to top,#bab2f6,white);
}
table{
	width: 100%;
	border: 1px solid grey;
}
table tr:nth-child(even){
	background-color: #bab2f6;
}
table td{
	/*border-right: 1px solid #bab2f6;*/
	padding: 10px;
}
table th{
	color:#4a4666;
}
#C5 iframe{
	width:100%;
	padding: 20px;
	height: 500px;
	border: none;
	

}
#C6 iframe{
	width: 100%;
	padding: 20px;
	height: 500px;
	overflow: scroll;
	border: 2px dotted #4a4666;
}